#Judul {
    text-align: center;
    border: 1px slategrey;
    margin-top: 50px;
    margin-bottom: 30px 60px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: aquamarine;
}
 h2 {
    text-align: center;
 }
 p {
  text-align: center;
 }

.box1 {
  float: left;
  width: 50%;
  
  margin-left: 25%;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
}

.box2 {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
}


button {
    background-color: aqua;
    text-align: center;
    color: black;
    padding: 12px 25px;
    text-decoration: dashed;
    display: inline;
    font-size: medium;
    margin: 2px 4px;
    width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: #337f8d;
  }
  
  button:active {
    background-color: #297aa8;
    box-shadow: 0 5px #194a58;
    transform: translateY(4px);
  }
